highsunMobileOA/highsunMobileOA/Web References/com.hiooy.SLtest/WS_SLTradingWaterAnalysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dsp.hiooy.com:8201/WebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dsp.hiooy.com:8201/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dsp.hiooy.com:8201/WebServices">
      <s:element name="SLTadingWaterAnalysisDayReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLTadingWaterAnalysisDayReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SLTadingWaterAnalysisDayReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLTadingWaterAnalysisMonthReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLTadingWaterAnalysisMonthReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SLTadingWaterAnalysisMonthReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BHAnalysisYearReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BHAnalysisYearReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BHAnalysisYearReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BHAnalysisSeasonReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="season" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BHAnalysisSeasonReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BHAnalysisSeasonReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BHAnalysis4FloorReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BHAnalysis4FloorReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BHAnalysis4FloorReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SLTadingWaterAnalysisDayReportSoapIn">
    <wsdl:part name="parameters" element="tns:SLTadingWaterAnalysisDayReport" />
  </wsdl:message>
  <wsdl:message name="SLTadingWaterAnalysisDayReportSoapOut">
    <wsdl:part name="parameters" element="tns:SLTadingWaterAnalysisDayReportResponse" />
  </wsdl:message>
  <wsdl:message name="SLTadingWaterAnalysisMonthReportSoapIn">
    <wsdl:part name="parameters" element="tns:SLTadingWaterAnalysisMonthReport" />
  </wsdl:message>
  <wsdl:message name="SLTadingWaterAnalysisMonthReportSoapOut">
    <wsdl:part name="parameters" element="tns:SLTadingWaterAnalysisMonthReportResponse" />
  </wsdl:message>
  <wsdl:message name="BHAnalysisYearReportSoapIn">
    <wsdl:part name="parameters" element="tns:BHAnalysisYearReport" />
  </wsdl:message>
  <wsdl:message name="BHAnalysisYearReportSoapOut">
    <wsdl:part name="parameters" element="tns:BHAnalysisYearReportResponse" />
  </wsdl:message>
  <wsdl:message name="BHAnalysisSeasonReportSoapIn">
    <wsdl:part name="parameters" element="tns:BHAnalysisSeasonReport" />
  </wsdl:message>
  <wsdl:message name="BHAnalysisSeasonReportSoapOut">
    <wsdl:part name="parameters" element="tns:BHAnalysisSeasonReportResponse" />
  </wsdl:message>
  <wsdl:message name="BHAnalysis4FloorReportSoapIn">
    <wsdl:part name="parameters" element="tns:BHAnalysis4FloorReport" />
  </wsdl:message>
  <wsdl:message name="BHAnalysis4FloorReportSoapOut">
    <wsdl:part name="parameters" element="tns:BHAnalysis4FloorReportResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_SLTradingWaterAnalysisSoap">
    <wsdl:operation name="SLTadingWaterAnalysisDayReport">
      <wsdl:input message="tns:SLTadingWaterAnalysisDayReportSoapIn" />
      <wsdl:output message="tns:SLTadingWaterAnalysisDayReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SLTadingWaterAnalysisMonthReport">
      <wsdl:input message="tns:SLTadingWaterAnalysisMonthReportSoapIn" />
      <wsdl:output message="tns:SLTadingWaterAnalysisMonthReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BHAnalysisYearReport">
      <wsdl:input message="tns:BHAnalysisYearReportSoapIn" />
      <wsdl:output message="tns:BHAnalysisYearReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BHAnalysisSeasonReport">
      <wsdl:input message="tns:BHAnalysisSeasonReportSoapIn" />
      <wsdl:output message="tns:BHAnalysisSeasonReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BHAnalysis4FloorReport">
      <wsdl:input message="tns:BHAnalysis4FloorReportSoapIn" />
      <wsdl:output message="tns:BHAnalysis4FloorReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SLTradingWaterAnalysisSoap" type="tns:WS_SLTradingWaterAnalysisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SLTadingWaterAnalysisDayReport">
      <soap:operation soapAction="http://dsp.hiooy.com:8201/WebServices/SLTadingWaterAnalysisDayReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SLTadingWaterAnalysisMonthReport">
      <soap:operation soapAction="http://dsp.hiooy.com:8201/WebServices/SLTadingWaterAnalysisMonthReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BHAnalysisYearReport">
      <soap:operation soapAction="http://dsp.hiooy.com:8201/WebServices/BHAnalysisYearReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BHAnalysisSeasonReport">
      <soap:operation soapAction="http://dsp.hiooy.com:8201/WebServices/BHAnalysisSeasonReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BHAnalysis4FloorReport">
      <soap:operation soapAction="http://dsp.hiooy.com:8201/WebServices/BHAnalysis4FloorReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_SLTradingWaterAnalysisSoap12" type="tns:WS_SLTradingWaterAnalysisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SLTadingWaterAnalysisDayReport">
      <soap12:operation soapAction="http://dsp.hiooy.com:8201/WebServices/SLTadingWaterAnalysisDayReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SLTadingWaterAnalysisMonthReport">
      <soap12:operation soapAction="http://dsp.hiooy.com:8201/WebServices/SLTadingWaterAnalysisMonthReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BHAnalysisYearReport">
      <soap12:operation soapAction="http://dsp.hiooy.com:8201/WebServices/BHAnalysisYearReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BHAnalysisSeasonReport">
      <soap12:operation soapAction="http://dsp.hiooy.com:8201/WebServices/BHAnalysisSeasonReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BHAnalysis4FloorReport">
      <soap12:operation soapAction="http://dsp.hiooy.com:8201/WebServices/BHAnalysis4FloorReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_SLTradingWaterAnalysis">
    <wsdl:port name="WS_SLTradingWaterAnalysisSoap" binding="tns:WS_SLTradingWaterAnalysisSoap">
      <soap:address location="http://dsp.hiooy.com:8201/WebServices/WS_SLTradingWaterAnalysis.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_SLTradingWaterAnalysisSoap12" binding="tns:WS_SLTradingWaterAnalysisSoap12">
      <soap12:address location="http://dsp.hiooy.com:8201/WebServices/WS_SLTradingWaterAnalysis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>